<!-- Seccion formulario para las secciones-->
<form class="container bg-white border rounded p-3 mb-4" id="FormularioSecciones">
    <!-- Titulo del formulario -->
    <div class="row">
        <div class="col">
            <h5> Seccion </h5>
        </div>
    </div>
    
    <!-- Inputs del formulario -->
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="Paciente">
                <label class="form-check-label" for="Paciente"> Paciente </label>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="Visitante">
                <label class="form-check-label" for="Visitante"> Visitante </label>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="Entrada">
                <label class="form-check-label" for="Entrada"> Entrada </label>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="Salida">
                <label class="form-check-label" for="Salida"> Salida </label>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="Registro">
                <label class="form-check-label" for="Registro"> Registro </label>
            </div>
        </div>
    </div>
</form>