<!-- Contenedor para verificar si existe el trabajador -->
<div class="container mb-4" id="ContenedorVerificador">
    <!-- Seccion de formuario para verificar si existe el trabajador -->
    <form class="container bg-white border rounded p-3" id="FormularioVerificador">
        <div class="row mb-3">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="MatriculaTrabajador" class="form-label">Matricula del trabajador:</label>
                <input type="text" class="form-control" id="MatriculaTrabajador">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" id="btn_consultar">Consultar</button>
            </div>
        </div>
    </form>
</div>