<!-- Seccion formulario para los datos del trabajador -->
<form class="container bg-white border rounded p-3 mb-4" id="FormularioDatosTrabajador">
    <!-- Titulo del formulario -->
    <div class="row">
        <div class="col">
            <h5> Datos del Trabajador </h5>
        </div>
    </div>
    
    <!-- Inputs del formulario -->
    <div class="row mb-3">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label for="Nombre" class="form-label">Nombre del trabajador:</label>
            <input type="text" class="form-control" id="Nombre">

        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <label for="Apellido1" class="form-label">Primer Apellido del trabajador:</label>
            <input type="text" class="form-control" id="Apellido1">

        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <label for="Apellido2" class="form-label">Segundo Apellido del trabajador:</label>
            <input type="text" class="form-control" id="Apellido2">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <label for="Matricula" class="form-label">Matricula del Trabajador:</label>
            <input type="text" class="form-control" id="Matricula">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="Password" class="form-label">Contraseña del Trabajador:</label>
            <input type="password" class="form-control" id="Password">
        </div>
    </div>
</form>