<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Inicio</title>
</head>
<body class="bg-light">
    <!-- Seccion de Header -->
    <%-include('../Headers/HeaderAdministrador');%>

    <!-- Seccion de Contenido -->
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-12 rounded p-3 text-white" style="background-color: rgb(77, 77, 77);">
                <h1 class="h6 mb-0 lh-1">Avisos</h1>
                <small><%=Fecha%></small>
            </div>
        </div>
    </div>
</body>
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
</html>